.chat-header{
    color: var(--secondary);
    position: fixed;
    width: 100%;
    z-index: 0;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    align-items: center;
    background-color: var(--primary);
    padding: 0.75rem 2rem;
    box-shadow: 0 0 1rem rgba(0,0,0,0.5);
}
.chat-header-logo{
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100%;
    width: auto;
    aspect-ratio: 1;
    background-color: #7d1f1f;
    border-radius: 50%;
    max-height: 4rem;
}
.chat-header-logo > img{
    display: block;
    height: 80%;
    top: 0;
}
.chat-header-holder{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}
.chat-header-name{
    font-weight: 800;
    font-size: var(--font-large);
}
.chat-header-status{
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: var(--font-small);
    gap: 0.5rem;
}
.chat-header-status > .green-dot{
    height: 0.8rem;
    width: 0.8rem;
    border-radius: 50%;
    background-color: #00bf63;
}