.chat-message-holder{
    padding: 2rem 1.25rem;
    padding-top: 7rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    overflow: scroll;
    max-height: 45vh;
    scroll-behavior: smooth;
}