.chat-form{
    box-sizing: border-box;
    width: 100%;
    height: 38vh;
    padding: 0 1rem;
    gap: 5%;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    background-color: var(--secondary);
}
.chat-form-bot{
    position: relative;
    width: 40%;
    height: 100%;
}
.chat-form-bot > img{
    position: absolute;
    bottom: 5%;
    display: block;
    width: 100%;
    height: auto;
    max-height: 100%;
}
.chat-form > form{
    align-self: center;
    font-size: var(--font-small);
    width: 50%;
    height: fit-content;
    text-align: center;
}
.form-heading{
    font-weight: 600;
    color: var(--primary);
    margin: 0;
    font-size: var(--font-medium);
}
.option-list{
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}
.chat-option{
    background-color: var(--primary);
    padding: 0.6rem 1rem;
    color: var(--secondary);
    font-weight: 500;
    border-radius: 3rem;
    border: 1px solid var(--primary);
    overflow: scroll;
}
.chat-option.invert{
    background-color: var(--secondary);
    color: var(--primary);
}
.chat-option > input[type="checkbox"]{
    display: none;
}
.chat-wave{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    height: 10rem;
    width: 100vw;
}
.chat-wave > img{
    position: absolute;
    display: block;
    bottom: -150%;
    left: 0;
}
.form-button{
    position: relative;
    font-family: var(--font-fam);
    background-color: var(--secondary);
    border: 1px solid var(--primary);
    color: var(--primary);
    font-size: var(--font-small);
    padding: 1rem;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
}
.form-button > img{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(50%,50%);
}
.form-button:disabled{
    opacity: 0.7;
}