.chat-form{
    box-sizing: border-box;
    padding: 2vh 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 60%;
    background-color: var(--secondary);
    background: url("../assets/curve.png");
    background-size: cover;
    background-position: center 15rem;
    background-repeat: no-repeat;
}
.chat-form-bot{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
}
.chat-form-bot > img{
    display: block;
    width: 50%;
    height: auto;
    max-height: 15rem;
}
.chat-form > form{
    align-self: center;
    font-size: var(--font-small);
    width: 100%;
    height: fit-content;
    text-align: center;
}
.form-heading{
    font-weight: 700;
    text-align: center;
    color: var(--primary);
    margin: 0;
    width: 100%;
    font-size: var(--font-medium);
    overflow-wrap: break-word;
}
.option-list{
    margin: 0 auto;
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, minmax(0,1fr));
    grid-auto-rows: 1fr;
    padding: 1rem;
}
.chat-option{
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.6rem 1rem;
    color: var(--secondary);
    font-weight: 500;
    border-radius: 3rem;
    border: 1px solid var(--primary);
}
.chat-option.invert{
    background-color: var(--secondary);
    color: var(--primary);
}
.chat-option > input[type="checkbox"]{
    display: none;
}
.chat-wave{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    height: 10rem;
    width: 100vw;
}
.chat-wave > img{
    position: absolute;
    display: block;
    bottom: -150%;
    left: 0;
}
.form-button-holder{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-button{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: var(--font-fam);
    background-color: var(--secondary);
    border: 1px solid var(--primary);
    padding: 1rem;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
}
.form-button > img{
    display: block;
    width: 100%;
}
.form-button:disabled{
    opacity: 0.5;
}