.chat-message-holder{
    padding: 0rem 1.25rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    overflow: scroll;
    height: 40vh;
    scroll-behavior: smooth;
    padding-bottom: 2rem;
    max-width: 720px;
    margin: 0 auto;
}