.chat-message-holder{
    padding: 0rem 1.25rem;
    padding-top: 7rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    overflow: scroll;
    height: 40vh;
    scroll-behavior: smooth;
}