.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 5rem;
}
.Heading{
    color: #661515;
    font-family: 'Quicksand';
    align-content: center;
    margin: 15px;
    margin-bottom: 0px;
    text-align: center;
}

.para{
    font-family: 'Quicksand';
    font-size: var(--font-medium);
    margin-left: 15px;
    text-align: center;
}

.help{
    display: flex;
    padding: 4rem 0;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    /* max-width: 100%; */
    /* align-content: flex-start; */
    flex-direction: column;
    /* border: 2px black solid; */
    width: 80%;
    align-content: center;
    gap: 2rem;
}

.contact-details{
    border:4px #661515 solid;
    /* outline: 5px #661515 solid; */
    justify-content: center;
    background-color: #661515;
    color: white;
    border-radius: 50rem; 
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 30rem;
    /* width: 20vw; */
}

/* .contact-details:hover{
    color: black;
    background-color: white;
    transition: background-color 0.5s ease;
} */

.contact-details p{
    font-size: var(--font-small) !important;
    margin-right: 10px;
}

.phone{
    color: wheat;
    height: 20px;
    margin-right: 20px;
    margin-left: 10px;
}


@media (min-width: 768px){
    .help{
        flex-direction: row;
    }
}