body {
    background-color: #faf9f1;
    background-image: url("../assets/wave.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -20%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Navbar  Starts*/

.navbar {
    display: flex;
    justify-content: space-between;
    height: 5rem;
}

.menu {
    display: flex;
    flex-direction: column;
    z-index: 100;
}

.hamburger-icon {
    width: 35px;
    height: 30px;
    padding: 1.8em;
    padding-bottom: 1.4em;
    cursor: pointer;
    z-index: 100;
    position: absolute;
}


.hamburger-icon-bar {
    height: 4px;
    width: 100%;
    background-color: #000000;
    display: block;
    outline: red 5px;
    transition: 0.3s ease;
}

#bar1 {
    transform: translateY(-4px);
}

#bar3 {
    transform: translateY(4px);
}

.icon-transform #bar1 {
    transform: translateY(4px) rotate(-45deg);
}

.icon-transform #bar2 {
    opacity: 0;
}

.icon-transform #bar3 {
    transform: translateY(-4px) rotate(45deg);
}

#menu-content {
    position: absolute;
}

nav ul {
    padding: 0;
    margin: 0 10px;
    transition: 1s ease;
    display: none;
}
.navbar li {
    list-style: none;
    padding: 0.2em 0;
}

.navbar li a {
    text-decoration: none;
    color: #ffffff;
}


.breads-logo {
    display: block;
    padding: 0.7em;
    height: 100%;
    aspect-ratio: auto;
}


/* Navbar Ends */

/* Body Starts */

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    height: 100%;
    width: 100%;
}

.chatbot-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
    margin: 3em;
}

.bot-img-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #661515;
    border-radius: 50%;
    aspect-ratio: 1;
    width: 50%;
}

.bot-img {
    height: 75%;
    width: 75%;
}

.bot-intro {
    text-align: center;
    font-size: 115%;
    font-weight: 500;
}

.chat-button {
    border-radius: 3rem;
    background-color: #00000000;
    border: 1px solid #661515;
    padding: 0.5em 1em;
    font-size: 110%;
    font-weight: 500;
    color: #661515;
    text-decoration: none;
    box-shadow: 0 0 0.1rem var(--primary);
}

.chat-button:hover {
    background-color: #661515;
    transition: 0.5s;
    color: white;
}

.description-container {
    /* background-color: #661515; */
    height: 100%;
    max-height: 38%;
    padding-top: 0;
}
.description::before{
    content: "";
    width: 100vw;
    height: 5rem;
    position: absolute;
    bottom: 100%;
    left: 0;
    background: url("../assets/wave.svg");
    background-repeat: no-repeat;
    background-size: 200%;
    background-position: center center;
}

.description {
    color: var(--secondary);
    background-color: #661515;
    align-self: center;
    text-align: center;
    padding: 1em;
    position: relative;
}


@media (orientation:landscape) {
    body{
        overflow: auto;
    }
    .bot-img-bg{
        width: 20%;
    }
    .bot-intro{
        font-size: 110%;
    }
    .chat-button{
        font-size: 105%;
    }
    .description-container{
        max-height: 50%;
    }
    .description{
        font-size: 190%;
        display: flex;
    }
    .description-container{
        max-height: 45%;
        background-color: #661515;
    }
}



@media (min-height:1000px) {
    .bot-intro{
        font-size: 190%;
    }
    .chat-button{
        font-size: 185%;
    }
    .description-container{
        max-height: 50%;
    }
    .description{
        font-size: 190%;
        display: flex;
    }
}
@media (min-height:1100px) {
    .bot-intro{
        font-size: 200%;
    }
    .chat-button{
        font-size: 195%;
    }
    .description-container{
        max-height: 36%;
    }
    .description{
        font-size: 215%;
        display: flex;
    }
    body {
        background-position-y: -25%;
    }
}

@media (min-height:1500px) {
    .bot-intro{
        font-size: 230%;
    }
    .chat-button{
        font-size: 225%;
    }
    .description-container{
        max-height: 50%;
    }
    .description{
        font-size: 240%;
        display: flex;
    }  
}


@media (max-height: 1000px) {
    .description{
        font-size: 145%;
    }
    .description-container{
        max-height: 45%;
    }
    body {
        background-position-y: -40%;
    }
}
@media (max-height: 860px) {
    .description{
        font-size: 140%;
    }
}
@media (max-height: 800px) {
    .description{
        font-size: 120%;
    }
    .description-container{
        max-height: 45%;
    }
    body {
        background-position-y: -40%;
    }
}
@media (max-height: 730px) {
    .description{
        font-size: 105%;
    }
    .description-container{
        max-height: 32%;
    }
    body {
        background-position-y: -25%;
    }
}
@media (max-height: 700px) {
    .description{
        font-size: 105%;
    }
    .description-container{
        max-height: 45%;
    }
    body {
        background-position-y: -35%;
    }
}
@media (max-height: 660px) {
    .description{
        font-size: 100%;
    }
    .description-container{
        max-height: 47%;
    }
    body {
        background-position-y: -50%;
    }
}


@media (max-height: 360px) {
    .description{
        font-size: 90%;
    }
    .description-container{
        max-height: 45%;
    }
    body {
        background-position-y: -40%;
    }
}


/* Body ends */

.menu-open {
    transition-property: all;
    background-color: #2f2f2f;
    color: rgba(255, 0, 0, 0);
    padding: 4em 10em 4em 1.7em;
    margin: 0;
    font-size: 115%;
    top: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    transition: 1s ease;
    border-radius: 0em 0em 20em 0em;
}