body {
    background-color: #faf9f1;
    background-image: url("../assets/wave.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -20%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Navbar  Starts*/

.navbar {
    display: flex;
    justify-content: space-between;
    height: 5rem;
}

.menu {
    display: flex;
    flex-direction: column;
    z-index: 100;
}

.hamburger-icon {
    width: 0.5rem;
    height: 1rem;
    padding: 2rem 2.5rem;
    cursor: pointer;
    z-index: 100;
    position: relative;
}


.hamburger-icon-bar {
    height: 4px;
    width: 2.5rem;
    background-color: #000000;
    display: block;
    outline: red 5px;
    transition: 0.3s ease;
    position: absolute;
    border-radius: 3rem;
    left: 50%;
    transform: translateX(-50%);
}

#bar1 {
    top: 35%;
}

#bar2{
    top: 50%;
}
#bar3 {
    top: 65%;
}

.icon-transform #bar1 {
    background-color: var(--secondary);
    transform: translateX(-50%) translateY(250%) rotate(-45deg);
}

.icon-transform #bar2 {
    background-color: var(--secondary);
    opacity: 0;
}

.icon-transform #bar3 {
    background-color: var(--secondary);
    transform: translateX(-50%) translateY(-250%) rotate(45deg);
}

#menu-content {
    position: absolute;
}

nav ul {    
    background-color: #2f2f2f;
    color: rgba(255, 0, 0, 0);
    padding: 4em 10em 4em 1.7em;
    margin: 0;
    font-size: var(--font-medium);
    top: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    transition: 0.15s ease-in-out;
    border-radius: 0em 0em 20em 0em;
    transform: scale(0);
    transform-origin: top left;
}
.navbar li {
    list-style: none;
    padding: 0.2em 0;
}

.navbar li a {
    text-decoration: none;
    color: #ffffff;
    transition: 0.3s ease-in-out;
}
.navbar li a:hover{
    color: #fff;
}

.breads-logo {
    display: block;
    padding: 0.7em;
    height: 100%;
    aspect-ratio: auto;
}


/* Navbar Ends */

/* Body Starts */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    overflow: auto;
    overflow-x: hidden;
}

.chatbot-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
    z-index: 2;
    min-height: 100vh;
    margin-bottom: 3rem;
}

.bot-img-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #661515;
    box-shadow: 0 0 10px var(--font);
    border-radius: 50%;
    aspect-ratio: 1;
    width: 50%;
    max-width: 12rem;
}

.bot-img {
    height: 75%;
    width: 75%;
}

.bot-intro {
    text-align: center;
    font-size: var(--font-large);
    font-weight: 600;
    padding: 0 1rem;
}

.chat-button {
    border-radius: 3rem;
    background-color: #00000000;
    border: 1px solid #661515;
    box-shadow: 0 0 5px var(--primary) !important;
    padding: 0.5em 1em;
    font-size: var(--font-medium);
    font-weight: 500;
    color: #661515;
    text-decoration: none;
    box-shadow: 0 0 0.1rem var(--primary);
    transition: 0.3s ease-in-out;
}

.chat-button:hover {
    background-color: #661515;
    color: white;
}

.description-container {
    padding-top: 0;
    z-index: 0;
    position: relative;
    background-color: var(--primary);
    padding-bottom: 2rem;
}

.wave-container{
    width: 101vw;
    height: 20vw;
    z-index: -1;
    background: transparent;
    position: relative;   
}
.wave-container.reverse{
    transform: rotate(180deg);
}
.wave-container > img{
    display: block;
    width: 100%;
    position: absolute;
    bottom: -1%;
    left: 50%;
    transform: translateX(-50%);
}
.heading{
    color: #fff;
    font-weight: 700;
    font-size: var(--font-xl);
    text-align: center;
    padding: 0 2rem;
    padding-bottom: 4rem;
    font-family: var(--font-fam-heading);
    letter-spacing: 0.4rem;
    overflow-wrap:break-word;
}
.description {
    color: #fff;
    background-color:#901E1E;
    align-self: center;
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    position: relative;
    z-index: 2;
    width: 80%;
    margin: 0 auto;
    margin-top: 0;
    font-size: var(--font-medium) !important;
    border-radius: 1rem;  
    box-shadow: 0 0 1px hsl(0deg 0% 0% / 0.075), 0 0 2px hsl(0deg 0% 0% / 0.075),
    0 0 4px hsl(0deg 0% 0% / 0.075), 0 0 8px hsl(0deg 0% 0% / 0.075),
    0 0 16px hsl(0deg 0% 0% / 0.075);
  transform-origin: 10% 60%;
}

/* Testimonials Heading */
.testimonials{
    display: flex;
    flex-direction: column;
    padding-bottom: 5rem;
    padding-top: 4rem;
}
.testimonials > .heading{
    color: var(--primary);
}

.testimonial-holder{
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    width: 90%;
    max-width: 40rem;
    padding: 4rem 2rem !important;
}
.testimonial{
    font-size: var(--font-medium);
    box-shadow: -0.1rem 0.1rem 1rem grey !important;
    padding: 2rem;
    border-radius: 1rem;
    align-self: strech;
}
.testimonial-description{
    text-align: center;
}
.testimonial-name{
    text-align: center;
    position: relative;
    padding-top: 1rem;
}
.testimonial-name::before{
    content: "";
    width: 50%;
    position: absolute;
    height: 2px;
    left: 50%;
    bottom: 100%;
    transform: translateX(-50%);
    background-color: var(--primary);
}
.language-button{
    background-color: var(--primary);
    position: absolute;
    top: 80vh;
    right: 0.5rem;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    box-shadow: 0 0 3px grey;
    z-index: 2;
}
.language-button > img{
    position: absolute;
    width: 60%;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.select-language{
    position: absolute;
    right: 100%;
    top: 50%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    z-index: 100;
}
.set-language{
    display: block;
    background: var(--primary);
    color: var(--secondary);
    width: 100%;
    border: 1px solid var(--primary);
    font-size: var(--font-small);
    font-family: var(--font-fam);
    z-index: 100;
    padding: 1rem;
    border-radius: 3rem;
}
.set-language.selected{
    background-color: var(--secondary);
    color: var(--primary);
}
/* 
@media (min-height:1000px) {
    .bot-intro{
        font-size: 190%;
    }
    .chat-button{
        font-size: 185%;
    }
    .description-container{
        max-height: 50%;
    }
}
@media (min-height:1100px) {
    .bot-intro{
        font-size: 200%;
    }
    .chat-button{
        font-size: 195%;
    }
    .description-container{
        max-height: 36%;
    }
    .description{
        font-size: 215%;
        display: flex;
    }
    body {
        background-position-y: -25%;
    }
}

@media (min-height:1500px) {
    .bot-intro{
        font-size: 230%;
    }
    .chat-button{
        font-size: 225%;
    }
    .description-container{
        max-height: 50%;
    }
    .description{
        font-size: 240%;
        display: flex;
    }  
}


@media (max-height: 1000px) {
    .description{
        font-size: 145%;
    }
    .description-container{
        max-height: 45%;
    }
    body {
        background-position-y: -40%;
    }
}
@media (max-height: 860px) {
    .description{
        font-size: 140%;
    }
}
@media (max-height: 800px) {
    .description{
        font-size: 120%;
    }
    .description-container{
        max-height: 45%;
    }
    body {
        background-position-y: -40%;
    }
}
@media (max-height: 730px) {
    .description{
        font-size: 105%;
    }
    .description-container{
        max-height: 32%;
    }
    body {
        background-position-y: -25%;
    }
}
@media (max-height: 700px) {
    .description{
        font-size: 105%;
    }
    .description-container{
        max-height: 45%;
    }
    body {
        background-position-y: -35%;
    }
}
@media (max-height: 660px) {
    .description{
        font-size: 100%;
    }
    .description-container{
        max-height: 47%;
    }
    body {
        background-position-y: -50%;
    }
}


@media (max-height: 360px) {
    .description{
        font-size: 90%;
    }
    .description-container{
        max-height: 45%;
    }
    body {
        background-position-y: -40%;
    }
} */


/* Body ends */
.menu-open {
    transform: scale(1);
}

/* Responsive Horizontal */

@media (min-width: 480px){
    .bot-img-bg{
        max-width: 15rem;
    }
    .navbar{
        height: 5.5rem;
    }
}

@media (min-width: 768px){
    .navbar{
        height: 6rem;
    }
    .bot-img{
        max-width: 16rem;
    }
}
@media (min-width: 1024px) {
    .hamburger-icon{
        display: none;
    }
    .navbar{
        height: 7rem;
    }
    #menu-content{
        position: relative;
    }
    .menu{
        width: 100%;
        padding: 2rem 0rem;
    }
    #menu-content ul{
        transform: scale(1);
        background-color: transparent;
        display: flex !important;
        justify-content: space-evenly;
        flex-direction: row;
        gap: 1rem;
        padding: 0 2rem;
        margin: 0;
        font-size: var(--font-small);
        width: 100%;
    }
    #menu-content li a{
        color: black;
    }
    .navbar li a:hover{
        color: var(--primary) !important;
    }
    .description-container{
        display: flex;
        align-items: center;
        gap: 10vw;
    }
    .description{
        height: 60vh;
    }
    .testimonials{
        padding: 5rem;
        padding-top: 10rem;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

