.outer_box{
    display: flex;
    flex-direction: row-reverse;
    width: 100vw;
    height: 5rem;
}
.outer_box > img{
    display: block;
    padding: 0.7em;
    height: 100%;
    aspect-ratio: auto;
}

.button{
    color: aqua;
}

.logo{
    height: inherit;
    width: auto;
}