@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');
:root{
  --primary: #661515;
  --secondary: #faf9f1;
  --font-fam: "Quicksand", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  --font-small: 18px;
  --font-medium: 22px;
  --font-large: 26px;
}
body {
  margin: 0;
  height: 100vh;
  font-family: var(--font-fam);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--secondary);
}
#root{
  margin: 0;
  height:100vh;
}

